*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{

background:#000;
color:white;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 8%;

}


.logo{

font-size:28px;
font-weight:bold;

}



nav a{

color:white;
text-decoration:none;
margin-left:25px;

}




.hero{

min-height:90vh;

display:flex;
align-items:center;
justify-content:space-around;

padding:50px 8%;

}



.hero-text{

max-width:500px;

}


.hero h1{

font-size:55px;
line-height:1.1;

}



.hero p{

font-size:20px;
margin:25px 0;
color:#ccc;

}



.hero-image img{

width:420px;

border-radius:30px;

}




.btn{

display:inline-block;

background:white;
color:black;

padding:16px 40px;

border-radius:40px;

font-weight:bold;

text-decoration:none;

transition:.3s;

}



.btn:hover{

transform:scale(1.05);

}





.beneficios{

padding:80px 8%;
text-align:center;

}



.beneficios h2,
.avaliacoes h2,
.oferta h2{

font-size:40px;
margin-bottom:40px;

}



.cards{

display:flex;
gap:30px;
justify-content:center;

}



.card{

background:#111;

padding:35px;

border-radius:20px;

width:300px;

transition:.3s;

}


.card:hover{

transform:translateY(-10px);

}



.card p{

color:#bbb;
margin-top:15px;

}





.produto{

display:flex;

align-items:center;

justify-content:center;

gap:50px;

padding:80px 8%;

}


.produto img{

width:400px;
border-radius:25px;

}


.produto p{

color:#bbb;

font-size:20px;

}





.avaliacoes{

padding:80px 8%;
text-align:center;

}



.reviews{

display:flex;
justify-content:center;
gap:30px;

}



.reviews div{

background:#111;

padding:30px;

border-radius:20px;

width:280px;

}





.oferta{

text-align:center;

padding:100px 20px;

background:#111;

}



.oferta h1{

font-size:60px;

margin:30px;

}



footer{

text-align:center;

padding:30px;

color:#777;

}





@media(max-width:900px){


.hero,
.produto{

flex-direction:column;

text-align:center;

}


.cards,
.reviews{

flex-direction:column;
align-items:center;

}


.hero h1{

font-size:40px;

}


.hero-image img,
.produto img{

width:90%;

}


}
